<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25" class="mat-elevation-z7">

        <mat-toolbar fxLayout="column">
            <span>Recuperar Contraseña</span>
          </mat-toolbar>
        <p fxLayoutAlign="center center">Ingresa tu correo electrónico y se te enviará un link para restablecer tu contraseña</p>

        <form fxLayoutAlign="strech" fxLayout="column">
            <mat-form-field>
              <mat-label>Correo Electrónico</mat-label>
              <input matInput placeholder="Correo">
            </mat-form-field>
          
            <button mat-raised-button type="submit">Enviar</button>

            <div fxLayoutAlign="center center" class="forgot-password-cancelar">
                <a routerLink="../login">Cancelar</a>
            </div>
          </form>
    </mat-card>
</div>