<div fxLayout="row">
    <div fxFlexOffset="5">
        <h1>übbitt perfil</h1>
    </div>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center none">
    <mat-card fxFlex="25" fxFlex.xs="100" class="fondoperfil">
        <img class="fotoperfil" src="" alt="">
        <h3 class="espacio">Pepe Zoto</h3>
        <h4 class="espacio">Socio desde</h4>
        <h4 class="espacio">10/10/2020</h4>
        <p class="espacioo">una breve descripcion</p>
        <button mat-button color="accent">Edit</button>
    </mat-card>
    <mat-card fxFlex="65" fxFlex.xs="100" class="fondoestado">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.sm="10px" fxLayoutGap.xs="10px">
            <mat-card fxLayout="column" fxFlex.xs="100" fxFlex="25" class="fondopciones">
                <img class="nivelimg" src="" alt="">
                <h5>nivel</h5>
            </mat-card>
            <mat-card fxLayout="column" fxFlex="25" class="fondopciones">
                <h2>$$$$$</h2>
                <h5>mdp vendidos</h5>
            </mat-card>
            <mat-card fxLayout="column" fxFlex="25" class="fondopciones">
                <h2>$$$$$</h2>
                <h5>mdp cobrados</h5>
            </mat-card>
            <mat-card fxLayout="column" fxFlex="25" class="fondopciones">
                <h2>Estrellitas</h2>
                <h5>ATC </h5>
            </mat-card>
        </div>
        <div fxLayout="row" fxLayout.xs="column" class="fondoresumen" fxLayoutAlign="center none" fxLayoutGap="3px">
            <div fxLayout="column" fxFlex="12" class="fondopciones2">
                <img class="imgresumen" src="" alt="">
                <h3 class="esp">10K</h3>
                <h5>llamadas </h5>
            </div>
            <div fxLayout="column" fxFlex="12" class="fondopciones2">
                <img class="imgresumen" src="" alt="">
                <h3 class="esp">10K</h3>
                <h5>emisiones </h5>
            </div>
            <div fxLayout="column" fxFlex="12" class="fondopciones2">
                <img class="imgresumen" src="" alt="">
                <h3 class="esp">10K</h3>
                <h5>conversion </h5>
            </div>
            <div fxLayout="column" fxFlex="12" class="fondopciones2">
                <img class="imgresumen" src="" alt="">
                <h3 class="esp">10K</h3>
                <h5>calidad </h5>
            </div>
            <div fxLayout="column" fxFlex="12" class="fondopciones2">
                <img class="imgresumen" src="" alt="">
                <h3 class="esp">10K</h3>
                <h5>übbitts </h5>
            </div>
            <div fxLayout="column" fxFlex="12" class="fondopciones2">
                <img class="imgresumen" src="" alt="">
                <h3 class="esp">10K</h3>
                <h5>premios </h5>
            </div>
            <div fxLayout="column" fxFlex="12" class="fondopciones2">
                <img class="imgresumen" src="" alt="">
                <h3 class="esp">10K</h3>
                <h5>diplomas </h5>
            </div>
            <div fxLayout="column" fxFlex="12" class="fondopciones2">
                <img class="imgresumen" src="" alt="">
                <h3 class="esp">10K</h3>
                <h5>campañas </h5>
            </div>
        </div>
    </mat-card>
</div>
<div class="fondocampanas" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlexOffset="5">
        <h3>Campañas activas</h3>
    </div>
    <div>
        <button mat-button color="accent">Ver todas las campañas</button>
    </div>
</div>
<div class="fodocampana" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly none" fxLayoutGap="10px">
    <mat-card fxLayout="column" fxFlex="25" fxLayout.xs="row" fxFlex.sm="50">
        <div fxLayout="row" fxLayoutGap="10px">
            <div fxLayout="column">
                <img class="imgcampana" src="" alt="">
            </div>
            <div fxLayout="column">
                <h2 class="esp">MAPFRE</h2>
                <h6>seguro/seguro de auto</h6>
                <div>
                    <div fxLayout="row" fxLayoutGap="40px">
                        <h5>I 5%</h5>
                        <h5>I $12 k</h5>
                    </div>
                    <div fxLayout="row" class="espacioabajo" fxLayoutGap="30px">
                        <h5>I 6 hrs</h5>
                        <h5>I 4.9</h5>
                        <mat-slide-toggle fxFlexOffset="85px"></mat-slide-toggle>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-card fxLayout="column" fxFlex="25" fxLayout.xs="row" fxFlex.sm="50">
        <div fxLayout="row" fxLayoutGap="10px">
            <div fxLayout="column">
                <img class="imgcampana" src="" alt="">
            </div>
            <div fxLayout="column">
                <h2 class="esp">MAPFRE</h2>
                <h6>seguro/seguro de auto</h6>
                <div>
                    <div fxLayout="row" fxLayoutGap="40px">
                        <h5>I 5%</h5>
                        <h5>I $12 k</h5>
                    </div>
                    <div fxLayout="row" class="espacioabajo" fxLayoutGap="30px">
                        <h5>I 6 hrs</h5>
                        <h5>I 4.9</h5>
                        <mat-slide-toggle fxFlexOffset="85px"></mat-slide-toggle>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-card fxLayout="column" fxFlex="25" fxLayout.xs="row" fxFlex.sm="50">
        <div fxLayout="row" fxLayoutGap="10px">
            <div fxLayout="column">
                <img class="imgcampana" src="" alt="">
            </div>
            <div fxLayout="column">
                <h2 class="esp">MAPFRE</h2>
                <h6>seguro/seguro de auto</h6>
                <div>
                    <div fxLayout="row" fxLayoutGap="40px">
                        <h5>I 5%</h5>
                        <h5>I $12 k</h5>
                    </div>
                    <div fxLayout="row" class="espacioabajo" fxLayoutGap="30px">
                        <h5>I 6 hrs</h5>
                        <h5>I 4.9</h5>
                        <mat-slide-toggle  fxFlexOffset="85px"></mat-slide-toggle>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
</div>
<div class="fondocampanas" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlexOffset="5">
        <h3>Que dicen los clientes acerca de ti...</h3>
    </div>
</div>
<div class="fondoresena" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly none" fxLayoutGap="10px">
    <mat-card fxLayout="column" fxFlex="25" fxFlex.sm="50">
        <div fxLayout="row" fxLayoutGap="10px" class="linea">
            <h3 class="margencritica">
                Fulanito de tal
            </h3>
        </div>
        <div fxLayout="row" fxLayoutGap="10px" class="margendescripcion">
            <div fxLayout="column">
                estrellitas
            </div>
            <div fxLayout="column">
                descripcion Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </div>
        </div>
    </mat-card>
    <mat-card fxLayout="column" fxFlex="25" fxFlex.sm="50">
        <div fxLayout="row" fxLayoutGap="10px" class="linea">
            <h3 class="margencritica">
                Fulanito de tal
            </h3>
        </div>
        <div fxLayout="row" fxLayoutGap="10px" class="margendescripcion">
            <div fxLayout="column">
                estrellitas
            </div>
            <div fxLayout="column">
                descripcion Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </div>
        </div>
    </mat-card>
    <mat-card fxLayout="column" fxFlex="25" fxFlex.sm="50">
        <div fxLayout="row" fxLayoutGap="10px" class="linea">
            <h3 class="margencritica">
                Fulanito de tal
            </h3>
        </div>
        <div fxLayout="row" fxLayoutGap="10px" class="margendescripcion">
            <div fxLayout="column">
                estrellitas
            </div>
            <div fxLayout="column">
                descripcion Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </div>
        </div>
    </mat-card>
</div>