<div class="box" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1.5%" fxLayoutAlign="center">
  
<mat-card class="featured" fxFlex="24%"> 
<table class="tFeatured" fxFlex="100%"> 
    <tr>
      <td rowspan="4"><img class="logoFeatured" src="/assets/ImgMAPFRE/logoMAPRE.png" ng-gallimg="profile"></td>
      <th colspan="3">MAPFRE</th>
    </tr>
    <tr>
  <td colspan="3" class="descripcion">Seguros / Seguro de Auto</td>
    </tr>
    
    <tr class="indicadores">
      <td>5%</td>
      <td colspan="2">$12 K </td>
    </tr>
    <tr class="indicadores">
      <td colspan="2">6 Hrs</td>
      <td> 4.9</td>
      <td><mat-slide-toggle class="slideFeatured">
    </mat-slide-toggle></td>
    </tr>
  </table>
</mat-card>

<mat-card class="featured" fxFlex="24%"> 
  <table class="tFeatured" fxFlex="100%"> 
      <tr>
        <td rowspan="4"><img class="logoFeatured" src="/assets/ImgTotalPlay/totalplay.png" ng-gallimg="profile"></td>
        <th colspan="3">Totalplay</th>
      </tr>
      <tr>
    <td colspan="3" class="descripcion">Seguros / Seguro de Auto</td>
      </tr>
      
      <tr class="indicadores">
        <td>5%</td>
        <td colspan="2">$12 K </td>
      </tr>
      <tr class="indicadores">
        <td colspan="2">6 Hrs</td>
        <td> 4.9</td>
        <td><mat-slide-toggle class="slideFeatured">
      </mat-slide-toggle></td>
      </tr>
    </table>
  </mat-card>
  <mat-card class="featured" fxFlex="24%"> 
    <table class="tFeatured" fxFlex="100%"> 
        <tr>
          <td rowspan="4"><img class="logoFeatured" src="/assets/ImgGDS/gds.jpeg"ng-gallimg="profile"></td>
          <th colspan="3">General de seguros</th>
        </tr>
        <tr>
      <td colspan="3" class="descripcion">Seguros / Seguro de Auto</td>
        </tr>
        
        <tr class="indicadores">
          <td>5%</td>
          <td colspan="2">$12 K </td>
        </tr>
        <tr class="indicadores">
          <td colspan="2">6 Hrs</td>
          <td> 4.9</td>
          <td><mat-slide-toggle class="slideFeatured">
        </mat-slide-toggle></td>
        </tr>
      </table>
    </mat-card>
  
</div>